
/* Logo */
.logo {
    position: absolute;
    top: 5%; /* Move the logo further up */
    /* left: 85vw;     */
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
}

.logo-text {
    font-family: 'Lobster', sans-serif; /* Change font to something more stylized */
    font-size: 4rem; /* Make the font size bigger */
    font-weight: bold;
    background: linear-gradient(to bottom, #ffcc66, #ff9966, #cc6699);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 4px;
    text-transform: uppercase;
    animation: logoGlow 2s infinite alternate;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), 0 0 25px #ffcc66, 0 0 50px #ff9966; /* Enhanced glow effect */
    white-space: nowrap;
    user-select: none;
}

/* Logo Glow Effect */
@keyframes logoGlow {
    0% { text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), 0 0 25px #ffcc66, 0 0 50px #ff9966; }
    100% { text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), 0 0 15px #ffcc66, 0 0 30px #cc6699; }
}

/* Media Query to adjust the logo size for smaller screens */
@media (max-width: 1036px) {
    .logo-text {
      font-size: 3rem; /* Smaller font size */
      letter-spacing: 3px; /* Adjust letter-spacing if necessary */
    }
  }

  @media (max-width: 430px) {
    .logo-text {
      font-size: 2.8rem; /* Smaller font size */
      letter-spacing: 3px; /* Adjust letter-spacing if necessary */
    }
  }

  @media (max-width: 372px) {
    .logo-text {
      font-size: 2.5rem; /* Smaller font size */
      letter-spacing: 3px; /* Adjust letter-spacing if necessary */
    }
  }
  
